modules/integration/tests-integration/rules/src/test/resources/wsdl/BankingService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://com.test/withDraw" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax210="http://com.test/deposit" xmlns:tns="http://com.test/Banking" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/Banking">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/deposit">
            <xs:complexType name="Deposit">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="amount" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deposit">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="deposit" type="ax210:Deposit" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="DepositAccept">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="depositRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="depositAccept" type="ax210:DepositAccept" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/withDraw">
            <xs:complexType name="Withdraw">
                <xs:sequence>
                    <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="amount" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="withDraw">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="withDraw" type="ax29:Withdraw" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="WithdrawAccept">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WithdrawReject">
                <xs:sequence>
                    <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="withDrawRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="withdrawAccept" type="ax29:WithdrawAccept" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="withdrawReject" type="ax29:WithdrawReject" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="depositRequestMessage">
        <wsdl:part name="parameters" element="ax210:deposit" />
    </wsdl:message>
    <wsdl:message name="depositResponseMessage">
        <wsdl:part name="parameters" element="ax210:depositRespone" />
    </wsdl:message>
    <wsdl:message name="withDrawRequestMessage">
        <wsdl:part name="parameters" element="ax29:withDraw" />
    </wsdl:message>
    <wsdl:message name="withDrawResponseMessage">
        <wsdl:part name="parameters" element="ax29:withDrawRespone" />
    </wsdl:message>
    <wsdl:portType name="BankingServicePortType">
        <wsdl:operation name="deposit">
            <wsdl:input message="tns:depositRequestMessage" wsaw:Action="urn:deposit" />
            <wsdl:output message="tns:depositResponseMessage" wsaw:Action="urn:depositResponse" />
        </wsdl:operation>
        <wsdl:operation name="withDraw">
            <wsdl:input message="tns:withDrawRequestMessage" wsaw:Action="urn:withDraw" />
            <wsdl:output message="tns:withDrawResponseMessage" wsaw:Action="urn:withDrawResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BankingServiceSoap11Binding" type="tns:BankingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deposit">
            <soap:operation soapAction="urn:deposit" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="withDraw">
            <soap:operation soapAction="urn:withDraw" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BankingServiceSoap12Binding" type="tns:BankingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deposit">
            <soap12:operation soapAction="urn:deposit" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="withDraw">
            <soap12:operation soapAction="urn:withDraw" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BankingServiceHttpBinding" type="tns:BankingServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="deposit">
            <http:operation location="deposit" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="withDraw">
            <http:operation location="withDraw" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BankingService">
        <wsdl:port name="BankingServiceHttpsSoap11Endpoint" binding="tns:BankingServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/BankingService.BankingServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BankingServiceHttpSoap11Endpoint" binding="tns:BankingServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/BankingService.BankingServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BankingServiceHttpSoap12Endpoint" binding="tns:BankingServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/BankingService.BankingServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BankingServiceHttpsSoap12Endpoint" binding="tns:BankingServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/BankingService.BankingServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BankingServiceHttpEndpoint" binding="tns:BankingServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/BankingService.BankingServiceHttpEndpoint/" />
        </wsdl:port>
        <wsdl:port name="BankingServiceHttpsEndpoint" binding="tns:BankingServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/BankingService.BankingServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>