modules/integration/tests-integration/rules/src/test/resources/wsdl/CallChargingService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://com.test/callcharging" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax24="http://com.test/callCharge" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/callcharging">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/callCharge">
            <xs:complexType name="CallLog">
                <xs:sequence>
                    <xs:element minOccurs="0" name="period" type="xs:double" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="callCharge">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="callLog" type="ax24:CallLog" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="CallCharge">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" type="xs:double" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="callChargeRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="callCharge" type="ax24:CallCharge" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="chargeRequestMessage">
        <wsdl:part name="parameters" element="ax24:callCharge" />
    </wsdl:message>
    <wsdl:message name="chargeResponseMessage">
        <wsdl:part name="parameters" element="ax24:callChargeRespone" />
    </wsdl:message>
    <wsdl:portType name="CallChargingServicePortType">
        <wsdl:operation name="charge">
            <wsdl:input message="tns:chargeRequestMessage" wsaw:Action="urn:charge" />
            <wsdl:output message="tns:chargeResponseMessage" wsaw:Action="urn:chargeResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CallChargingServiceSoap11Binding" type="tns:CallChargingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="charge">
            <soap:operation soapAction="urn:charge" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CallChargingServiceSoap12Binding" type="tns:CallChargingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="charge">
            <soap12:operation soapAction="urn:charge" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CallChargingServiceHttpBinding" type="tns:CallChargingServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="charge">
            <http:operation location="charge" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CallChargingService">
        <wsdl:port name="CallChargingServiceHttpSoap11Endpoint" binding="tns:CallChargingServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/CallChargingService.CallChargingServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CallChargingServiceHttpsSoap11Endpoint" binding="tns:CallChargingServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/CallChargingService.CallChargingServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CallChargingServiceHttpSoap12Endpoint" binding="tns:CallChargingServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/CallChargingService.CallChargingServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CallChargingServiceHttpsSoap12Endpoint" binding="tns:CallChargingServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/CallChargingService.CallChargingServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CallChargingServiceHttpsEndpoint" binding="tns:CallChargingServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/CallChargingService.CallChargingServiceHttpsEndpoint/" />
        </wsdl:port>
        <wsdl:port name="CallChargingServiceHttpEndpoint" binding="tns:CallChargingServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/CallChargingService.CallChargingServiceHttpEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>