modules/integration/tests-integration/rules/src/test/resources/wsdl/HealthCareService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax25="http://com.test/patientDetail" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://com.test/HeathCareService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/HeathCareService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/patientDetail">
            <xs:complexType name="Patient">
                <xs:sequence>
                    <xs:element minOccurs="0" name="age" type="xs:int" />
                    <xs:element minOccurs="0" name="creatinineLevel" type="xs:double" />
                    <xs:element minOccurs="0" name="medication" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="patientDetail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="patientDetail" type="ax25:Patient" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Dose">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="patientDetailRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="recommendDose" type="ax25:Dose" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="recommendDoseRequestMessage">
        <wsdl:part name="parameters" element="ax25:patientDetail" />
    </wsdl:message>
    <wsdl:message name="recommendDoseResponseMessage">
        <wsdl:part name="parameters" element="ax25:patientDetailRespone" />
    </wsdl:message>
    <wsdl:portType name="HealthCareServicePortType">
        <wsdl:operation name="recommendDose">
            <wsdl:input message="tns:recommendDoseRequestMessage" wsaw:Action="urn:recommendDose" />
            <wsdl:output message="tns:recommendDoseResponseMessage" wsaw:Action="urn:recommendDoseResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HealthCareServiceSoap11Binding" type="tns:HealthCareServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="recommendDose">
            <soap:operation soapAction="urn:recommendDose" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HealthCareServiceSoap12Binding" type="tns:HealthCareServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="recommendDose">
            <soap12:operation soapAction="urn:recommendDose" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HealthCareServiceHttpBinding" type="tns:HealthCareServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="recommendDose">
            <http:operation location="recommendDose" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HealthCareService">
        <wsdl:port name="HealthCareServiceHttpSoap11Endpoint" binding="tns:HealthCareServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/HealthCareService.HealthCareServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HealthCareServiceHttpsSoap11Endpoint" binding="tns:HealthCareServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/HealthCareService.HealthCareServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HealthCareServiceHttpSoap12Endpoint" binding="tns:HealthCareServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/HealthCareService.HealthCareServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HealthCareServiceHttpsSoap12Endpoint" binding="tns:HealthCareServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/HealthCareService.HealthCareServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HealthCareServiceHttpsEndpoint" binding="tns:HealthCareServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/HealthCareService.HealthCareServiceHttpsEndpoint/" />
        </wsdl:port>
        <wsdl:port name="HealthCareServiceHttpEndpoint" binding="tns:HealthCareServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/HealthCareService.HealthCareServiceHttpEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>