modules/integration/org.wso2.carbon.brs.integration.test/src/test/resources/wsdl/GetQuoteService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax212="http://com.test/placeCustomerDetail" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://com.test/quotation" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/quotation">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/placeCustomerDetail">
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="placeCustomerDetail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="customerDetail" type="ax212:Customer" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Quotation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="price" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="placeCustomerDetailRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="getQuotation" type="ax212:Quotation" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getQuoteRequestMessage">
        <wsdl:part name="parameters" element="ax212:placeCustomerDetail" />
    </wsdl:message>
    <wsdl:message name="getQuoteResponseMessage">
        <wsdl:part name="parameters" element="ax212:placeCustomerDetailRespone" />
    </wsdl:message>
    <wsdl:portType name="GetQuoteServicePortType">
        <wsdl:operation name="getQuote">
            <wsdl:input message="tns:getQuoteRequestMessage" wsaw:Action="urn:getQuote" />
            <wsdl:output message="tns:getQuoteResponseMessage" wsaw:Action="urn:getQuoteResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetQuoteServiceSoap11Binding" type="tns:GetQuoteServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getQuote">
            <soap:operation soapAction="urn:getQuote" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetQuoteServiceSoap12Binding" type="tns:GetQuoteServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getQuote">
            <soap12:operation soapAction="urn:getQuote" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetQuoteServiceHttpBinding" type="tns:GetQuoteServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getQuote">
            <http:operation location="getQuote" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetQuoteService">
        <wsdl:port name="GetQuoteServiceHttpSoap11Endpoint" binding="tns:GetQuoteServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/GetQuoteService.GetQuoteServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GetQuoteServiceHttpsSoap11Endpoint" binding="tns:GetQuoteServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/GetQuoteService.GetQuoteServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GetQuoteServiceHttpsSoap12Endpoint" binding="tns:GetQuoteServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/GetQuoteService.GetQuoteServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GetQuoteServiceHttpSoap12Endpoint" binding="tns:GetQuoteServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/GetQuoteService.GetQuoteServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GetQuoteServiceHttpEndpoint" binding="tns:GetQuoteServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/GetQuoteService.GetQuoteServiceHttpEndpoint/" />
        </wsdl:port>
        <wsdl:port name="GetQuoteServiceHttpsEndpoint" binding="tns:GetQuoteServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/GetQuoteService.GetQuoteServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>