modules/integration/org.wso2.carbon.brs.integration.test/src/test/resources/wsdl/MIPCalculateService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://com.test/MIPCalculateService" xmlns:ax211="http://com.test/placeClientDetail" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/MIPCalculateService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/placeClientDetail">
            <xs:complexType name="Client">
                <xs:sequence>
                    <xs:element minOccurs="0" name="downPayment" type="xs:double" />
                    <xs:element minOccurs="0" name="loanType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="mortgageValue" type="xs:double" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="placeClientDetail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="clientDetail" type="ax211:Client" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="MIP">
                <xs:sequence>
                    <xs:element minOccurs="0" name="annualMIP" type="xs:double" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="placeClientDetailRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="MIP" type="ax211:MIP" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calculateRequestMessage">
        <wsdl:part name="parameters" element="ax211:placeClientDetail" />
    </wsdl:message>
    <wsdl:message name="calculateResponseMessage">
        <wsdl:part name="parameters" element="ax211:placeClientDetailRespone" />
    </wsdl:message>
    <wsdl:portType name="MIPCalculateServicePortType">
        <wsdl:operation name="calculate">
            <wsdl:input message="tns:calculateRequestMessage" wsaw:Action="urn:calculate" />
            <wsdl:output message="tns:calculateResponseMessage" wsaw:Action="urn:calculateResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MIPCalculateServiceSoap11Binding" type="tns:MIPCalculateServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="calculate">
            <soap:operation soapAction="urn:calculate" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MIPCalculateServiceSoap12Binding" type="tns:MIPCalculateServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="calculate">
            <soap12:operation soapAction="urn:calculate" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MIPCalculateServiceHttpBinding" type="tns:MIPCalculateServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="calculate">
            <http:operation location="calculate" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MIPCalculateService">
        <wsdl:port name="MIPCalculateServiceHttpsSoap11Endpoint" binding="tns:MIPCalculateServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/MIPCalculateService.MIPCalculateServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MIPCalculateServiceHttpSoap11Endpoint" binding="tns:MIPCalculateServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/MIPCalculateService.MIPCalculateServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MIPCalculateServiceHttpSoap12Endpoint" binding="tns:MIPCalculateServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/MIPCalculateService.MIPCalculateServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MIPCalculateServiceHttpsSoap12Endpoint" binding="tns:MIPCalculateServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/MIPCalculateService.MIPCalculateServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MIPCalculateServiceHttpEndpoint" binding="tns:MIPCalculateServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/MIPCalculateService.MIPCalculateServiceHttpEndpoint/" />
        </wsdl:port>
        <wsdl:port name="MIPCalculateServiceHttpsEndpoint" binding="tns:MIPCalculateServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/MIPCalculateService.MIPCalculateServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>