modules/integration/org.wso2.carbon.brs.integration.test/src/test/resources/wsdl/ShoppingService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://com.test/purchaseOrder" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://com.test/addProduct" xmlns:ax24="http://com.test/shopping" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/shopping">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/purchaseOrder">
            <xs:complexType name="Purchase">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="product" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="purchaseOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="purchase" type="ax25:Purchase"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Discount">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" type="xs:int"/>
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax25:Customer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="discount" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="purchaseOrderRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="discount" type="ax25:Discount"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/addProduct">
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addProduct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="addProduct" type="ax23:Product"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/shopping">
            <xs:element name="addProductResponse">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="purchaseRequestMessage">
        <wsdl:part name="parameters" element="ax25:purchaseOrder"/>
    </wsdl:message>
    <wsdl:message name="purchaseResponseMessage">
        <wsdl:part name="parameters" element="ax25:purchaseOrderRespone"/>
    </wsdl:message>
    <wsdl:message name="addProductRequestMessage">
        <wsdl:part name="parameters" element="ax23:addProduct"/>
    </wsdl:message>
    <wsdl:message name="addProductResponseMessage">
        <wsdl:part name="parameters" element="ax24:addProductResponse"/>
    </wsdl:message>
    <wsdl:portType name="ShoppingServicePortType">
        <wsdl:operation name="purchase">
            <wsdl:input message="ax24:purchaseRequestMessage" wsaw:Action="urn:purchase"/>
            <wsdl:output message="ax24:purchaseResponseMessage" wsaw:Action="urn:purchaseResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addProduct">
            <wsdl:input message="ax24:addProductRequestMessage" wsaw:Action="urn:addProduct"/>
            <wsdl:output message="ax24:addProductResponseMessage" wsaw:Action="urn:addProductResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ShoppingServiceSoap11Binding" type="ax24:ShoppingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="purchase">
            <soap:operation soapAction="urn:purchase" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addProduct">
            <soap:operation soapAction="urn:addProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ShoppingServiceSoap12Binding" type="ax24:ShoppingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="purchase">
            <soap12:operation soapAction="urn:purchase" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addProduct">
            <soap12:operation soapAction="urn:addProduct" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ShoppingServiceHttpBinding" type="ax24:ShoppingServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="purchase">
            <http:operation location="purchase"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addProduct">
            <http:operation location="addProduct"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ShoppingService">
        <wsdl:port name="ShoppingServiceHttpSoap11Endpoint" binding="ax24:ShoppingServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/ShoppingService.ShoppingServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ShoppingServiceHttpsSoap11Endpoint" binding="ax24:ShoppingServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/ShoppingService.ShoppingServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ShoppingServiceHttpSoap12Endpoint" binding="ax24:ShoppingServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/ShoppingService.ShoppingServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ShoppingServiceHttpsSoap12Endpoint" binding="ax24:ShoppingServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/ShoppingService.ShoppingServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ShoppingServiceHttpsEndpoint" binding="ax24:ShoppingServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/ShoppingService.ShoppingServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ShoppingServiceHttpEndpoint" binding="ax24:ShoppingServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/ShoppingService.ShoppingServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>