modules/integration/tests-ui-integration/src/test/resources/wsdl/GreetingService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax214="http://com.test/greeting" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/greeting">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/greeting">
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="user">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="ax214:User" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="GreetingMessage">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="greetingMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="greetingMessage" type="ax214:GreetingMessage" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="greetMeRequestMessage">
        <wsdl:part name="parameters" element="ax214:user" />
    </wsdl:message>
    <wsdl:message name="greetMeResponseMessage">
        <wsdl:part name="parameters" element="ax214:greetingMessage" />
    </wsdl:message>
    <wsdl:portType name="GreetingServicePortType">
        <wsdl:operation name="greetMe">
            <wsdl:input message="ax214:greetMeRequestMessage" wsaw:Action="urn:greetMe" />
            <wsdl:output message="ax214:greetMeResponseMessage" wsaw:Action="urn:greetMeResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GreetingServiceSoap11Binding" type="ax214:GreetingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="greetMe">
            <soap:operation soapAction="urn:greetMe" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GreetingServiceSoap12Binding" type="ax214:GreetingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="greetMe">
            <soap12:operation soapAction="urn:greetMe" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GreetingServiceHttpBinding" type="ax214:GreetingServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="greetMe">
            <http:operation location="greetMe" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreetingService">
        <wsdl:port name="GreetingServiceHttpSoap11Endpoint" binding="ax214:GreetingServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/GreetingService.GreetingServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GreetingServiceHttpsSoap11Endpoint" binding="ax214:GreetingServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/GreetingService.GreetingServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GreetingServiceHttpsSoap12Endpoint" binding="ax214:GreetingServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/GreetingService.GreetingServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GreetingServiceHttpSoap12Endpoint" binding="ax214:GreetingServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/GreetingService.GreetingServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GreetingServiceHttpEndpoint" binding="ax214:GreetingServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/GreetingService.GreetingServiceHttpEndpoint/" />
        </wsdl:port>
        <wsdl:port name="GreetingServiceHttpsEndpoint" binding="ax214:GreetingServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/GreetingService.GreetingServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>