modules/integration/tests-ui-integration/src/test/resources/wsdl/OrderApprovalService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://com.test/orderApproval" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2323="http://com.test/placeorder" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/orderApproval">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/placeorder">
            <xs:complexType name="PlaceOrder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="price" type="xs:double"/>
                    <xs:element minOccurs="0" name="quantity" type="xs:int"/>
                    <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="placeOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="ax2323:PlaceOrder"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="OrderAccept">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OrderReject">
                <xs:sequence>
                    <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="placeOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="orderAccept" type="ax2323:OrderAccept"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="orderReject" type="ax2323:OrderReject"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="placeOrderRequestMessage">
        <wsdl:part name="parameters" element="ax2323:placeOrder"/>
    </wsdl:message>
    <wsdl:message name="placeOrderResponseMessage">
        <wsdl:part name="parameters" element="ax2323:placeOrderResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrderApprovalServicePortType">
        <wsdl:operation name="placeOrder">
            <wsdl:input message="tns:placeOrderRequestMessage" wsaw:Action="urn:placeOrder"/>
            <wsdl:output message="tns:placeOrderResponseMessage" wsaw:Action="urn:placeOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderApprovalServiceSoap11Binding" type="tns:OrderApprovalServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="placeOrder">
            <soap:operation soapAction="urn:placeOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderApprovalServiceSoap12Binding" type="tns:OrderApprovalServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="placeOrder">
            <soap12:operation soapAction="urn:placeOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderApprovalServiceHttpBinding" type="tns:OrderApprovalServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="placeOrder">
            <http:operation location="placeOrder"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderApprovalService">
        <wsdl:port name="OrderApprovalServiceHttpSoap11Endpoint" binding="tns:OrderApprovalServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/OrderApprovalService.OrderApprovalServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderApprovalServiceHttpsSoap11Endpoint" binding="tns:OrderApprovalServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/OrderApprovalService.OrderApprovalServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderApprovalServiceHttpsSoap12Endpoint" binding="tns:OrderApprovalServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/OrderApprovalService.OrderApprovalServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderApprovalServiceHttpSoap12Endpoint" binding="tns:OrderApprovalServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/OrderApprovalService.OrderApprovalServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderApprovalServiceHttpsEndpoint" binding="tns:OrderApprovalServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/OrderApprovalService.OrderApprovalServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderApprovalServiceHttpEndpoint" binding="tns:OrderApprovalServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/OrderApprovalService.OrderApprovalServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>