modules/integration/org.wso2.carbon.brs.integration.sample.test/src/test/resources/wsdl/CarRentalService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://com.test/carrental" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://com.test/carReservation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.test/carrental">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com.test/carReservation">
            <xs:complexType name="Reservation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MPD" type="xs:double" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="carReservation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="reserve" type="ax23:Reservation" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Charge">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="carReservationRespone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="charge" type="ax23:Charge" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="rentRequestMessage">
        <wsdl:part name="parameters" element="ax23:carReservation" />
    </wsdl:message>
    <wsdl:message name="rentResponseMessage">
        <wsdl:part name="parameters" element="ax23:carReservationRespone" />
    </wsdl:message>
    <wsdl:portType name="CarRentalServicePortType">
        <wsdl:operation name="rent">
            <wsdl:input message="tns:rentRequestMessage" wsaw:Action="urn:rent" />
            <wsdl:output message="tns:rentResponseMessage" wsaw:Action="urn:rentResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarRentalServiceSoap11Binding" type="tns:CarRentalServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="rent">
            <soap:operation soapAction="urn:rent" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CarRentalServiceSoap12Binding" type="tns:CarRentalServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="rent">
            <soap12:operation soapAction="urn:rent" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CarRentalServiceHttpBinding" type="tns:CarRentalServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="rent">
            <http:operation location="rent" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarRentalService">
        <wsdl:port name="CarRentalServiceHttpSoap11Endpoint" binding="tns:CarRentalServiceSoap11Binding">
            <soap:address location="http://10.100.3.69:9763/services/CarRentalService.CarRentalServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CarRentalServiceHttpsSoap11Endpoint" binding="tns:CarRentalServiceSoap11Binding">
            <soap:address location="https://10.100.3.69:9443/services/CarRentalService.CarRentalServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CarRentalServiceHttpsSoap12Endpoint" binding="tns:CarRentalServiceSoap12Binding">
            <soap12:address location="https://10.100.3.69:9443/services/CarRentalService.CarRentalServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CarRentalServiceHttpSoap12Endpoint" binding="tns:CarRentalServiceSoap12Binding">
            <soap12:address location="http://10.100.3.69:9763/services/CarRentalService.CarRentalServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CarRentalServiceHttpsEndpoint" binding="tns:CarRentalServiceHttpBinding">
            <http:address location="https://10.100.3.69:9443/services/CarRentalService.CarRentalServiceHttpsEndpoint/" />
        </wsdl:port>
        <wsdl:port name="CarRentalServiceHttpEndpoint" binding="tns:CarRentalServiceHttpBinding">
            <http:address location="http://10.100.3.69:9763/services/CarRentalService.CarRentalServiceHttpEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>